{% extends 'base.html' %}
{% block title %} Portfolio {% endblock %}
{% block content %}
<div class="container">
  <h1>{{ teacher.first_name }}'s Portfolio</h1>
  <div class="row">
    <ul>
      {% for porto in teacher_portfolio %}
        <li><a href="{{ porto.get_absolute_url }}">{{ porto }}</a></li>
      {% empty %}
        <li>No recorded portofolio.</li>
      {% endfor %}
    </ul>
  </div>
  <div class="row">
    {% if user == teacher %}
    <a class="btn btn-primary" href="{% url 'user_profile:create_portfolio' %}">
      Add new portfolio
    </a>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'learning:list_teachers' %}">
      Back
    </a>
  </div>
</div>
{% endblock %}