<footer class="footer text-center">
    <div class="custom-control custom-switch mb-3">
        <input type="checkbox" class="custom-control-input" id="dark_mode" onclick="switchDarkMode()">
        <label class="custom-control-label" for="dark_mode"><p>Toggle dark mode</p></label>
    </div>
    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Email Us</p>
                <p class="is-size-6">
                    <a href="mailto:gkkd-west@anchovy-studios.net" class="has-text-dark">
                        <i class="fa fa-envelope"></i>
                        <span>gkkd-west@anchovy-studios.net</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    
    <hr class="fade-2 mb-0">
    <div class="has-text-centered"><small>Copyright <i class="far fa-copyright"></i> Tutor Online 2020</small></div>
</footer>