{% load static %}
<nav class="navbar is-size-5 is-fixed-top is-light is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'main:index' %}">
      <img class="image is-32x32" style="max-height: initial" src="{% static 'images/icon/favicon.ico' %}">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav_top">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="nav_top" class="navbar-menu" style="background-color: transparent; box-shadow: none;">
    <div class="navbar-start ">
      {% if user.is_superuser %}
      <a class="navbar-item is-tab">
        Admin
      </a>
      {% endif %}
      
      <a href="{% url 'learning:list_lessons' %}" class="navbar-item is-tab">
        <i class="mr-3 fas fa-book"></i> Lesson
      </a>
      <a href="{% url 'learning:list_teachers' %}" class="navbar-item is-tab">
        <i class="mr-3 fas fa-graduation-cap"></i> Our Teachers
      </a>
    </div>

    <div class="navbar-end mt-2 mt-lg-0 is-flex-touch justify-content-space-around">
      {% if user.is_authenticated %}
      <a href="{% url 'dashboard:main' %}" class="navbar-item is-tab is-size-5 has-text-dark">
        <i class="mr-3 fas fa-tachometer-alt"></i> Dashboard</a>
      </a>
      <a href="{% url 'user_profile:profile' user.username %}" class="navbar-item is-tab is-size-5 has-text-dark">
        <i class="mr-3 fas fa-user"></i> {{ user.first_name }} {{ user.last_name }}
      </a>
      <a id="logout_link" title="logout" href="{% url 'account:logout' %}" class="icon has-text-danger is-size-6">
        <i class="fa fa-sign-out-alt"></i>
      </a>
      {% else %}
      <a href="{% url 'account:register' %}" class="mr-3 button is-outlined is-info is-size-5">
        Register</a>
      </a>
      <a href="{% url 'account:login' %}" class="button is-success is-size-5">
        Login</a>
      </a>
      {% endif %}
    </div>
  </div>
</nav>
<script>
$('#logout_link').click(function(e) {
  e.preventDefault()
  const url = $("#logout_link").attr('url')
  console.log(url)
  $.confirm({
    title: 'Logout?',
    content: 'Are you sure want to logout',
    autoClose: 'logoutUser|10000',
    buttons: {
        logoutUser: {
            text: 'Yes',
            action: function() {
              window.location.href = url
            }
        },
        cancel: function () {
            
        }
    }
  });
})
</script>