{% extends 'base.html' %}
{% load static %}
{% block title %} Lesson {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Booking</h1>
  </div>

  <div class="row">
    <div class="col-12">
      <h4 class="text-primary">Status</h4>
      <p>{{ booking.get_status_display }}</p>
    </div>
  </div>

  {% include 'learning/lesson_display.html' %}

  {% if not user.is_superuser or not user.is_staff %}
    {% if booking.status == 'P' %}
      <div class="row">
        <form enctype="multipart/form-data" method="post" action="{% url 'learning:detail_booking' booking.id %}">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <label class="form-control-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="invalid-feedback">{{ field.errors }}</div>
            {% endif %}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </form>
      </div>

      <div class="row">
        <form method="post" action="{% url 'learning:change_status_booking' booking.id %}">
          {% csrf_token %}
          <input type="text" name="status" value="C" class="form-control" hidden readonly>
          <button type="submit" class="btn btn-danger">
            Cancel Booking
          </button>
        </form>
      </div>
    {% endif %}

  {% else %}

    {% if booking.proof %}
      <div class="row">
        <a href="{% get_media_prefix %}{{ booking.proof }}">Transfer Proof</a>
      </div>
    {% else %}
      <p>No transfer proof yet.</p>
    {% endif %}

    {% if booking.status == 'P' %}
      <form method="post" action="{% url 'learning:change_status_booking' booking.id %}">
        {% csrf_token %}
        <input type="text" name="status" value="A" class="form-control" hidden readonly>
        <button type="submit" class="btn btn-primary">
          Accept Booking
        </button>
      </form>
      <form method="post" action="{% url 'learning:change_status_booking' booking.id %}">
        {% csrf_token %}
        <input type="text" name="status" value="R" class="form-control" hidden readonly>
        <button type="submit" class="btn btn-danger">
          Reject Booking
        </button>
      </form>
    {% endif %}

  {% endif %}

  <div class="row">
    <a class="btn btn-secondary" href="javascript:history.back()">
      Back
    </a>
  </div>
</div>


<!--&lt;!&ndash; Confirmation Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Are you sure to ACTION this lesson?</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        You cannot undo this action.-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, I change my mind</button>-->
<!--        <form method="post" action="">-->
<!--          {% csrf_token %}-->
<!--          <button type="submit" class="btn btn-danger">Yes, ACTION it</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

{% endblock %}