{% extends 'base.html' %}
{% block title %} Lesson {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Lesson</h1>
  </div>
  <div class="row">
    <div class="tab-content">
      <h4>Course</h4>
      <p>{{ lesson.course }}</p>

      <h4>Teacher</h4>
      <p>{{ lesson.teacher.first_name }} {{ lesson.teacher.last_name }}</p>

      <h4>Schedule</h4>
      <ul>
        <li>Start: {{ lesson.time_start }}</li>
        <li>End  : {{ lesson.time_end }}</li>
      </ul>

      <h4>Fee</h4>
      <p>Rp{{ lesson.fee }}</p>
    </div>
  </div>
  <div class="row">
    <div class="tab-content">
      {% with students=lesson.student.all %}
      <h4>Students ({{ students.count }})</h4>
      {% if user.is_teacher %}
      <ul>
        {% for student in students %}
          <li>{{ student.first_name }} {{ student.last_name }}</li>
        {% empty %}
          <li>No students yet.</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    {% if user == lesson.teacher %}
    <a class="btn btn-primary" href="{% url 'learning:edit_lesson' lesson.id %}">
      Edit lesson
    </a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
      Delete lesson
    </button>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'learning:list_lessons' %}">
      Back
    </a>
  </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete this lesson?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You cannot undo this action.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, I change my mind</button>
        <form method="post" action="{% url 'learning:delete_lesson' lesson.id  %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Yes, delete it</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}