{% extends 'base.html' %}
{% block title %} Lessons {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h4>Search</h4>
  </div>
  <form class="form" method="get">
    <div class="form-group">
        <div class="col-xs-6">
          <input name="course" class="form-control" placeholder="Search course" value="{{ form_init.course }}">
        </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <input name="teacher" class="form-control" placeholder="Search teacher" value="{{ form_init.teacher }}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" value="Search">Search</button>
  </form>
  <div class="row mt-4">
    <h1>Lessons</h1>
  </div>
  <div class="row">
    <ul>
      {% for lesson in lessons %}
        <li><a href="{{ lesson.get_absolute_url }}">{{ lesson }}</a></li>
      {% empty %}
        <li>No recorded lesson.</li>
      {% endfor %}
    </ul>
  </div>
  <div class="row">
    {% if user.is_teacher %}
    <a class="btn btn-primary" href="{% url 'learning:create_lesson' %}">
      Add new lesson
    </a>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'main:index' %}">
      Back
    </a>
  </div>
</div>
{% endblock %}