{% extends 'base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/learning/jquery.datetimepicker.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <h1>Add New Lesson</h1>
  <form method="post" action="{% url 'learning:create_lesson' %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label class="form-control-label">{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
      <div class="invalid-feedback">{{ field.errors }}</div>
      {% endif %}
      {% if field.name == 'course' %}
        <small class="form-text text-muted">See no courses? Create your first portfolio right <a href="{% url 'user_profile:create_portfolio' %}">here</a></small>
      {% else %}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary" value="Save">Save</button>
  </form>
  <a class="btn btn-secondary" href="{% url 'learning:list_lessons' %}">Back</a>
</div>
{% endblock %}
{% block scripts %}
<!--<script src="{% static 'js/learning/jquery.js' %}"></script>-->
<script src="{% static 'js/learning/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'js/learning/datetimepicker.js' %}"></script>
{% endblock %}