{% extends 'base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/learning/learning.css' %}">
{% endblock %}
{% block content %}
<div class="hero is-fullheight-with-navbar is-light is-bold">
  <div class="space-lg"></div>
  <p class="title has-text-centered is-uppercase">Our Teachers</p>
  <hr>
  <div class="hero-body justify-content-center">
    <div class="columns is-multiline" style="width: 100%">
    {% for teacher in teachers %}
        <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
          <div class="card song-card-container">
            <a class="has-text-dark" href="{% url 'user_profile:profile' teacher.username %}">
              <div class="card-image">
                <figure class="image is-4by3">
                  {% if teacher.userdetail.photos %}
                  <img src="{% get_media_prefix %}{{ teacher.userdetail.photos }}" class="border-0 img-thumbnail"
                      alt="avatar">
                  {% else %}
                  <img src="{% static 'images/blank_profile.png' %}" class="border-0 img-thumbnail" alt="avatar">
                  {% endif %}
                </figure>
              </div>
              <header class="card-header">
                <p class="card-header-title is-size-4" style="justify-content: center">
                  {% if teacher.first_name or teacher.last_name %}
                  {{ teacher.first_name }} {{ teacher.last_name }}
                  {% else %}
                  (no name)
                  {% endif %}
                </p>
              </header>
              <div class="card-content fade-box song-card message is-dark">
                  <div class="message-body" style="height: 200px; overflow-y: hidden">
                    {% autoescape off %}
                    {{ teacher.userdetail.about }}
                    {% endautoescape %}
                  </div>
                  <div class="bottom-container"></div>
              </div>
              <footer class="card-footer">
                {% if teacher.email %}
                <a href="mailto:{{ teacher.email }}" class="card-footer-item">
                  <i class="fa fa-envelope mr-2"></i>Email
                </a>
                {% endif %}
                <a href="#" class="card-footer-item">
                  <i class="fab fa-linkedin mr-2"></i> LinkedIn
                </a>
                <a href="#" class="card-footer-item">
                  <i class="fab fa-twitter-square mr-2"></i> Twitter
                </a>
              </footer>
            </a>
          </div>
      </div>
      {% empty %}
      <div class="container">
        <h1 class="title has-text-centered">No teachers found</h1>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}