{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="hero is-fullheight is-light">
  <div class="hero-body">
      <div class="container">
          <div class="columns">
              <div class="animated zoomIn column box is-4-desktop is-offset-4-desktop is-6-tablet is-offset-3-tablet" style="padding: 15px 30px">
                  <h2 class="title has-text-centered">Login</h2>          
                  <form action="{% url 'account:login' %}" method="post" id="login_form">
                    {% csrf_token %}
                      <div class="field">
                          <div class="control has-icons-left has-icons-right">
                              {{ form.username }}
                              <span class="icon is-small has-text-success is-left">
                                  <i class="fas fa-envelope"></i>
                              </span>
                          </div>
                      </div>
                      <div class="space-sm"></div>
                      <div class="field-body">
                          <div class="field is-expanded">
                              <div class="field has-addons">
                                  <div class="control has-icons-left has-icons-right is-expanded">
                                      {{ form.password }}
                                      <span class="icon is-small has-text-success is-left">
                                          <i class="fas fa-lock"></i>
                                      </span>
                                  </div>
                                  <div class="control">
                                      <button onclick="togglePassword('{{ form.password.auto_id }}')" type="button" class="button is-success"><i class="fa fa-eye"></i></button>
                                  </div>
                              </div>
                              {% if form.errors %}
                              <p class="help is-danger text-center dark-mode-exception" id="password_not_valid">
                                {% for error in form.non_field_errors %}
                                    {{error}}
                                {% endfor %}
                              </p>
                              {% endif %}
                          </div>
                      </div>
                      

                      <div class="space-sm"></div>
          
                      <div class="control">
                          <button type="submit" class="button is-success is-fullwidth is-uppercase">login</button>
                      </div>
                  </form>
          
                  <p class="has-text-centered" style="margin-top: 10px">
                    Don't have an account? Create one 
                      <a href="{% url 'account:register' %}">here</a>
                    :)
                  </p>
                  <div class="custom-control custom-switch mb-3 text-center mt-3">
                    <input type="checkbox" class="custom-control-input" id="dark_mode" onclick="switchDarkMode()">
                    <label class="custom-control-label" for="dark_mode"><p>Toggle dark mode</p></label>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}