{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="container">
  <h1>Register</h1>
  <form method="post" action="{% url 'account:register' %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field }}
      {% if field.errors %}
      <div class="invalid-feedback">{{ field.errors }}</div>
      {% endif %}
      {% if field.help_text %}
      <small class="form-text text-muted">{{field.help_text}}</small>
      {% endif %}
    </div>
    {% endfor %}
    <p>Already have an account? Sign in <a href="{% url 'account:login' %}">here</a></p>
    <button type="submit" class="btn btn-primary" value="Register">Register</button>
  </form>
</div>
{% endblock %}